

/**umb_name:h1*/
h1{color: #9c8972;
font-size: 28px;
text-transform: uppercase;
margin-bottom: 14px;
display: inline-block;
letter-spacing: 1px;
font-weight: normal;}

/**umb_name:h2*/
h2{color: #9c8972;
    font-size: 14px;
    margin-bottom: 32px;
    font-style: italic;
    letter-spacing: 1px;
font-weight: normal;}

/**umb_name:h3*/
h3{font-weight: normal;
color: #9c8972;
    font-size: 18px;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 10px;
    letter-spacing: 1px;}